<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="browser.afh">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AboutActivity"
            android:theme="@style/AppTheme.MaterialAboutActivity"/>

        <service
            android:name=".customtabs.KeepAliveService"
            android:exported="false" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d4b4d39862cc5f6b9b9948f06419b8ba9dd93407" />
        <service android:name=".services.DeviceTile"
            android:enabled="true"
            android:icon="@drawable/ic_qs_tile"
            android:label="Fav device"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>
    </application>

</manifest>
